@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 250, 250, 250;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 250, 250, 250;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

.box-shadow {
  box-shadow: 0 2.75px 5.5px 0 rgba(171, 190, 209, 0.40);
}
.box-shadow2 {
  box-shadow: 2px 2px 22px 6px rgba(0, 0, 0, 0.25);
}

.parallax-bg {
  width: 100%;
  height: 100%;
  background-image: url(../../public/Homepage/hero.jpg);
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-formations {
  width: 100%;
  height: 100%;
  background-image: url(../../public/Formations/formations.jpg);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-gradient {
  background: linear-gradient(to right, #ffffff 10%, #ffffffbf 37%, #ffffff80 60%, #ffffff00);
}
.hero-gradient-mobile {
  background: linear-gradient(to right, #ffffff, #ffffffbf 50%, #ffffff00);
}