@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 250, 250, 250;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 250, 250, 250;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

.box-shadow {
  box-shadow: 0 2.75px 5.5px 0 rgba(171, 190, 209, 0.40);
}